<form action="/line_days/my_schedule" method="GET" style="padding: 2%;">

	<div class="row">
			
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

		<div class="form-group col-lg-12">
			<label for="select_date">Select a Week</label>
			<input type="date" name='date' class="form-control" id='select_date'/>
		</div>

	</div>
	<div class="row">
		<div class="form-group col-lg-12">
			<input type="submit" value='See week' class='btn btn-lg btn-primary' style="float: left;width: 100%">
		</div>
	</div>
</form>


	<%= 
			react_component("MySchedule", { 
				day_hash: current_user.day_hash(@date), 
				is_admin: current_user.is_admin?,
				authenticity_token: form_authenticity_token,
				user_id: current_user.id,
			}) 

	%>


	<div class="responsive-top-menu">
	        <div style='overflow-y: scroll;'>
          <ul id="" class='line_search_aside line_search_top' style='padding: 0%;'>
            <%= render :partial => 'line_days/line_day_list', :locals => { :group => @grp_id } %>

            <li><a href="/line_days/my_schedule" style="" class='btn btn-lg btn-primar ln-wait-grp'>My Schedule</a></li>
          </ul>
        </div>
</div>

