


<!-- // PUT REACT COMPONENT IN THE RENDER METHOD OF THE CONTROLLER -->

<!-- 
		ALSO NEED A STATUS BAR ON TOP SAYING THE LAST 3 THINGS THAT HAPPENED: 
					eg: PERSON ONE JUST STARTED BUYING FOR PERSON TWO, OR 'Mary just checked in'


-->
<div class="row" style="width: 90%;">
	<div class="col-md-12">
				<%= 
					if Rails.env.development?

						react_component("BuyGroup", { 
							is_admin: current_user.is_admin?,
							user_owns: @grp.user_id == current_user.id,
							member_count: @grp.member_groups.count,
							members: @grp.members_list(current_user),
							group_id: @grp.id,
							group_name: @grp.name,
							coordinator_email: @grp.user.try(:email),
							coordinator_name: @grp.user.try(:name),
							current_user_valid: current_user.is_valid?,
							authenticity_token: form_authenticity_token
						}) 


					else

						"THIS IS CURRENTLY UNDERGOING CONSTRUCTION..."

					end


				%>

	</div>

		
		<%= 
			# if @grp
			# 	react_component("ChatBox", { 
			# 		is_admin: current_user.is_admin?,
			# 		chat_messages: @grp.message_list,
			# 		global_chat_messages: ChatMessage.global_chats_messages,
			# 		group_id: @grp.id,
			# 		title: "#{@grp.name} Chat",
			# 		danger_spinner: image_tag("danger.gif"),
			# 		loading_spinner: image_tag("bar.gif"),
			# 		current_user: current_user.attributes.slice('id')
			# 	}) 
			# else
			# 	"No chat room for this day :("
			# end
		%>

</div>

<script type="text/javascript">
	$('body').on('click', '#refresh-page', function(event) {
		event.preventDefault();
		// location.reload();
		window.location.reload(true); 
	});
</script>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="purchase-confirmation-pop-up" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm this user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id='confirmation-body-for-the-modal'>
      </div>
      <div class="modal-footer">
        <div class="working-message-conf" style="display: none;"><%= image_tag("ajax-loader.gif") %></div>
        <button type="button" class="btn btn-secondary close-this-modal conf-modal-footer" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary conf-modal-footer" id='confirm-trigger'>CONFIRM</button>
      </div>
    </div>
  </div>
</div>


<% if @grp.is_fully_covered %>

<% end %>




