  
  
  <% 
  @events.each do |event|
  %>
  <div class="line-day-event-container">
    <%=
      react_component("LineEvent", { 
          day: event.attributes.slice('name','description'),
          title: event.name, 
          description: event.description,
          link: "/line_up_events/#{event.id}", 
          owner: event.user.attributes.slice('avatar_url', 'name'),
          is_admin: current_user.is_admin?,
          user_id: current_user.id
        }) 
    %>
  </div> 

  <%
    end
  %>




