<div class="top-search-container">
    
  <form action="#" method="get" id="" class="sidebar-form-top">
    <div class="input-group">
      <input type="text" name="q" id="esearch" class="form-control sidebar-form-top" placeholder="Search events... seperate coordinator name and event name with a slash (/)" style="background-color: #374750" autocomplete="off">
      <small class='small-txt'></small>
      <span class="input-group-btn">
        <button type="submit" name="search" id="event_search-btn" class="btn btn-flat sidebar-form-top"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </form>
</div>

  <div class="events_result">
    <%=
      react_component("EventList", { 
          events: @events_data,
          is_admin: current_user.is_admin?
      }) 
    %>
  </div>





<style>
  .sidebar-form-top {
        background-color: #242e33;
        color: white;
  }

  .top-search-container {
        background-color: #242e33;
        width: 90%;
        padding: 2%;
        border-radius: 10px;  
  }

  .event-label {
        width: 100%;
    margin-bottom: 3%;
    position: absolute;
    top: 0;
  }
</style>


<script>
  $('body').on('click', '#event_search-btn', function(event) {
    event.preventDefault();
    $('.small-txt').text('searching...')
    var text = $('#esearch').val();

    $.ajax({
      url: '/line_up_events/search',
      data: {phrase: text},
    })
    .done(function(data) {
      $('.events_result').html(data);
      $('.small-txt').text('')
    })
  });

  $('body').on('keyup', '#esearch', function(event) {
    event.preventDefault();
    var text = $('#esearch').val();
    $('.small-txt').text('searching...')

    $.ajax({
      url: '/line_up_events/search',
      data: {phrase: text},
    })
    .done(function(data) {
      $('.events_result').html(data);
      $('.small-txt').text('')
    })
  });
</script>
