  
  
  <% 
  @events.each do |event|
  %>
  <div class="line-day-container">
    <%=
      react_component("LineDay", { 
          day: event.name, 
          description: event.description,
          link: "/line_up_events/#{event.id}", 
          owner: event.user.attributes.slice('avatar_url', 'name'),
          is_admin: current_user.is_admin?,
          user_id: current_user.id
        }) 
    %>
  </div> 

  <%
    end
  %>




    <style>
      .line-day-container {
            position: relative;
    display: inline-block;
    width: 30%;
    padding: 2%;
    overflow: auto;
    overflow-wrap: all;
    background-color: #222d32;
          }
    </style>